altgraph
autopep8
ca-certificates
certifi
dnspython
docutils
ecdsa
freetype
future
glew
idna
jpeg
kivy
libpng
libtiff
libwebp
lz4-c
olefile
openssl
pefile
pillow
pip
pycodestyle
pycryptodome
pygments
pyinstaller
pymongo
python
python_abi
pywin32-ctypes
sdl2
sdl2_image
sdl2_mixer
sdl2_ttf
setuptools
smpeg2
sqlite
tk
vc
wheel
wincertstore
xz
zlib
zstd